.Comment {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  &__img {
    margin-right: 15px;
    width: 40px;
    height: 40px;
  }
  &__wrapper {
    width: 100%;
  }
  &__name {
    @include flex-between;
    margin-bottom: 3px;
  }
  &__author {
    font-size: 14px;
    font-weight: 500;
  }
  &__published {
    color: $grey;
    font-size: 12px;
  }
  &__text {
    margin: 0;
    color: $grey;
    font-size: 14px;
  }
}
