.SearchInput {
  display: flex;
  align-items: center;
  height: 40px;
  input {
    height: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }
  button {
    height: 100%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }
}
