.SearchInput {
  display: flex;
  align-items: center;
  height: 40px;
  ::-webkit-input-placeholder {
    color: #efefef;
  }
  &__icon {
    height: 100%;
    background-color: transparent;
    color: $white;
    font-size: 30px;
    cursor: pointer;
  }
  form {
    height: 100%;
  }
  input {
    @include transition;
    height: 100%;
    padding: 0px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: $white;
    font-size: 16px;
    border-bottom: 2px solid $white;
    outline: none;
    width: 0;
    &.show {
      width: 250px;
      padding: 10px;
      margin-left: 10px;
    }
  }
}
