.VideoSingle {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 300px;
  &__main {
    // padding-bottom: 56.25%;
  }
  &__player {
    // @include flex-center;
    // position: relative;
    // iframe {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    // }
  }
  &__details {
    // padding-top: 60%;
  }
  .Video {
    display: block;
    margin-bottom: 20px;
    &__description {
      display: none;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__detail-wrapper {
    @include flex-between;
  }
  &__channel {
    color: $grey;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__views {
    color: $grey;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__published {
    color: $grey;
    font-size: 14px;
    margin-bottom: 30px;
  }
  &__description {
    color: $grey;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 50px;
  }

  &__channelvids {
    h2 {
      font-size: 16px;
      font-weight: 500;
      margin: 0 0 20px;
    }
  }
}
