.VideoSingle {
  max-width: 700px;
  margin: 0 auto;
  &__player {
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__channel {
    color: $grey;
    font-size: 16px;
    margin-bottom: 5px;
  }
  &__published {
    color: $grey;
    font-size: 14px;
  }
  &__description {
    font-size: 14px;
    line-height: 1.3;
  }
}
