html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: system, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #000000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

main {
  margin-top: 70px;
  padding: 50px; }

a {
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  display: inline-block; }

button {
  transition: all 0.25s ease-in-out;
  border: 0;
  outline: 0; }

ul,
ol {
  padding: 0;
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  font-size: 60px; }

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: #000000;
  color: #ffffff;
  padding: 15px 20px;
  z-index: 10; }
  .NavBar .home {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700; }

.SearchInput {
  display: flex;
  align-items: center;
  height: 40px; }
  .SearchInput__icon {
    font-size: 30px;
    cursor: pointer; }
  .SearchInput ::-webkit-input-placeholder {
    color: #efefef; }
  .SearchInput input {
    transition: all 0.25s ease-in-out;
    height: 100%;
    padding: 0px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border-bottom: 2px solid white;
    outline: none;
    width: 0; }
    .SearchInput input.show {
      width: 250px;
      padding: 10px;
      margin-left: 10px; }
  .SearchInput button {
    height: 100%;
    background-color: transparent; }

.Home {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 30px;
  justify-content: center; }

.SearchResults {
  max-width: 700px;
  margin: 0 auto; }
  .SearchResults .Video {
    display: flex;
    margin-bottom: 20px; }
    .SearchResults .Video__thumbnail {
      width: auto; }

.Video {
  transition: all 0.25s ease-in-out;
  border: 1px solid #efefef;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05); }
  .Video:hover {
    background-color: #efefef; }
  .Video__thumbnail {
    width: 100%; }
  .Video__details {
    padding: 20px; }
  .Video__title {
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px; }
  .Video__channel {
    color: #777777;
    margin-bottom: 7px; }
  .Video__published {
    color: #777777;
    font-size: 12px; }

.VideoSingle {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }
  .VideoSingle__player {
    display: flex;
    justify-content: center;
    align-items: center; }
    .VideoSingle__player iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .VideoSingle__details {
    padding-top: 60%; }
  .VideoSingle__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px; }
  .VideoSingle__channel {
    color: #777777;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px; }
  .VideoSingle__published {
    color: #777777;
    font-size: 14px; }
  .VideoSingle__description {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 50px; }

.Loader {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.mnml-spinner {
  border-radius: 100%;
  border-style: solid;
  border-width: 0.25rem;
  height: 5rem;
  width: 5rem;
  animation: basic 1s infinite linear; }

.mnml-spinner.light {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: white; }

.mnml-spinner.dark {
  border-color: rgba(0, 0, 0, 0.2);
  border-top-color: black; }

@keyframes basic {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(359.9deg); } }
