html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: system, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #000000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

main {
  padding: 50px; }

a {
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  display: inline-block; }

button {
  transition: all 0.25s ease-in-out;
  border: 0;
  outline: 0; }

ul,
ol {
  padding: 0;
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

.notfound {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.NavBar {
  background: #000000;
  color: #ffffff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .NavBar .home {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700; }

.SearchInput {
  display: flex;
  align-items: center;
  height: 40px; }
  .SearchInput input {
    height: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: white;
    border: 2px solid white; }
  .SearchInput button {
    height: 100%;
    background-color: transparent;
    border: 2px solid white;
    color: white; }

.Home {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 30px;
  justify-content: center; }

.SearchResults {
  max-width: 700px;
  margin: 0 auto; }
  .SearchResults .Video {
    display: flex;
    margin-bottom: 20px; }
    .SearchResults .Video__thumbnail {
      width: auto; }

.Video {
  transition: all 0.25s ease-in-out;
  border: 1px solid #efefef;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05); }
  .Video:hover {
    background-color: #efefef; }
  .Video__thumbnail {
    width: 100%; }
  .Video__details {
    padding: 20px; }
  .Video__title {
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px; }
  .Video__channel {
    color: #777777;
    margin-bottom: 7px; }
  .Video__published {
    color: #777777;
    font-size: 12px; }

.VideoSingle {
  max-width: 700px;
  margin: 0 auto; }
  .VideoSingle__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px; }
  .VideoSingle__channel {
    color: #777777;
    font-size: 16px;
    margin-bottom: 5px; }
  .VideoSingle__published {
    color: #777777;
    font-size: 14px; }
  .VideoSingle__description {
    font-size: 14px;
    line-height: 1.3; }
